# Assignment-2

# Q1. How do you comment code in Python? What are the different types of comments?

Comments in Python:

There are two ways to comment in python :

1.Using # in the starting of the comment.
 This is used when we want to tell the comment in the single statement
  
2.Using """ in the starting and ending of the comment.
 This is used when we want to tell the comment in multiline

In [1]:
#Example using '#'

#Hello all this is Karthik now am gona tell how to print helloworld
a="Hello World"
print(a)

Hello World

In [7]:
#Example using '"""'

"""
Hello guys...!
I hope everyone is good and enjoying their life 
Lets live the life happily
"""

a="Print Python is good" #This value will be stored in variable a
print(a)

Print Python is good


# Q2. What are variables in Python? How do you declare and assign values to variables?

Variables are used to store data values. They act as containers that hold references to objects in memory. Variables can hold different types of data, such as numbers, strings, lists, or complex numbers. They also allow you to assign a name to a value.

The equals sign (=) is the assignment operator used to assign the value on the right-hand side to the variable on the left-hand side.

In [8]:
#Example of a variable

Name = "Karthik"  #Here 'Name' is the variable which stores the value Karthik
print(Name)

Karthik

# Q3. How do you convert one data type to another in Python?

In Python, you can convert one data type to another using type conversion functions. Here are some commonly used type conversion functions:

int(): Converts a value to an integer type.

In [20]:
#Example of converting string to int data type
num = "455"
new_num=int(num)
print(num,type(new_num))

455 <class 'int'>

float(): Converts a value to a floating-point type.

In [19]:
#Example of converting string to float data type
value="3.144"
new_value=float(value)
print(value,type(new_value))

3.144 <class 'float'>

str(): Converts a value to a String

In [1]:
#Example of converting int data type to String data type
num=123
new_num=str(num)
print(new_num,type(new_num))

123 <class 'str'>

list(): Coverts values to List

In [3]:
#Example of converting String to List data type
Name="Baby"
new_name=list(Name)
print(new_name,type(new_name)) #We should be aware that [] indicates List

['B', 'a', 'b', 'y'] <class 'list'>

tuple(): Converts values to Tuple

In [4]:
#Example of converting String to Tuple data type
Word="Babe"
new_word=tuple(Word)
print(new_word,type(new_word)) #We should be aware that () indicates tuple

('B', 'a', 'b', 'e') <class 'tuple'>

bool() : Converts value to boolean

In [5]:
#Example of converting int to boolean
num=26
new_num=bool(num)
print(new_num,type(new_num))

True <class 'bool'>

set() : Converts value to set

In [6]:
#Example of converting tuple to set data type
value=(1,2,4,5)
new_value=set(value)
print(new_value,type(new_value))

{1, 2, 4, 5} <class 'set'>

# Q4. How do you write and execute a Python script from the command line?

Steps to run the Python file :

1.Open a text editor (eg: Notepad) and create a new file.

2.Write your Python code in the text editor and save the file with a .py extension.

3.Open the command prompt or terminal on your computer.

4.Navigate to the directory where you saved the Python script using the cd (change directory) command.

5.Once you are in the correct directory, you can run the Python script by typing "python" followed by the name of the script file.

6.This will execute the Python script.

or if we are using jupyter-lab directly we can write code and just press shift+enter to run the code.

# Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [15]:
my_list=[1,2,3,4,5]
print("This is reverse list of my_list :",my_list[::-1])
print("This is the sub-list of my_list :",my_list[1:3])

This is reverse list of my_list : [5, 4, 3, 2, 1]
This is the sub-list of my_list : [2, 3]

# Q6. What is a complex number in mathematics, and how is it represented in Python?

In mathematics, a complex number is a number that comprises both a real part and an imaginary part. It is expressed in the form "a + bi", where "a" represents the real part, "b" represents the imaginary part, and "i" represents the imaginary unit (âˆš-1).

In Python, complex numbers can be represented using the complex() function or by directly writing the complex number in the form of "a + bj". The real part is denoted by "a" and the imaginary part by "b".

In [16]:
#Example of representation of complex data type
a=5+7j
b=6j+4
c=complex(2.5,9)
print(a)
print(b)
print(c)

(5+7j)
(4+6j)
(2.5+9j)

# Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [18]:
age=25
print("Age : ",age)

Age :  25

# Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [21]:
#It belongs to folat data type
price=9.99
print(price,type(price)) #Output will be float value

9.99 <class 'float'>

# Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [23]:
#We can print the value using print statement
name="Gajulapalli Venkata Karthik Kumar Reddy"
print("Full name =",name )

Full name = Gajulapalli Venkata Karthik Kumar Reddy

# Q10. Given the string "Hello, World!", extract the substring "World".

In [30]:
string="Hello, World!"
print("Length of the String =",len(string))
print("substring =",string[7:13])

Length of the String = 13
substring = World!

# Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [32]:
is_student=True
print(is_student)

True