In [5]:
#Question-1
variableofstring="Karthik"
print("String = ",variableofstring)

String =  Karthik

In [2]:
variableoflist=[1,2,3,4,5]
print("List = ",variableoflist)

List =  [1, 2, 3, 4, 5]

In [3]:
variableoffloat=33.44
print("Float number = ",variableoffloat)

Float number =  33.44

In [4]:
variableoftuple=(1,2,4,5,6)
print("Tuple = ",variableoftuple)

Tuple =  (1, 2, 4, 5, 6)

In [6]:
#Question-2
var1=''
print(type(var1))

<class 'str'>

In [7]:
var2='[DS,ML,Python]'
print(type(var2))

<class 'str'>

In [8]:
var3=['DS','ML','Python']
print(type(var3))

<class 'list'>

In [9]:
var4=1
print(type(var4))

<class 'int'>

In [10]:
#Question-3
a=3
b=2
c=a/b  #"/"is used as a division operator
print(c)

1.5

In [11]:
a=20
b=5
c=a%b #"%"is used as a modulus
print(c)

0

In [12]:
a=10
b=4
c=a//b  #"//"is used as floor division
print(c)

2

In [13]:
a=5
b=2
c=a**b  #"**"is used as exponential operator
print(c)

25

In [14]:
#Question-4
l=[2,3,4,"hii",2.2,"hello",9+1j,1,8,5.4]
for i in l:
    print(i,type(i))

2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
hii <class 'str'>
2.2 <class 'float'>
hello <class 'str'>
(9+1j) <class 'complex'>
1 <class 'int'>
8 <class 'int'>
5.4 <class 'float'>

In [16]:
#Question-5
a=10
b=5
while b<a:
    if a%b==0:
        print("a is purely divisible by b ")
        if a/b!=0:
            print("It is divisible by ",a/b,"times")
        break
else :
    print("a is not purely divisible by b")

a is purely divisible by b
It is divisible by  2.0 times

In [17]:
#Question-6
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in a:
    if i%3==0:
        print(i,"is divisible by 3")
    else :
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [18]:
#Question-7
'''Mutable means we can able to change particular index value of any data type ex: list
   Immutable means we cannt able to change particular index value ex:tuple,string'''
#Example for Mutable concept
a=[1,2,3,"hello",6j]
print("The present index value we are thinking to change : ",a[3])
a[3]="bye"
print("New value of index : ",a[3],"\nNew updated list : ",a)

#Example for immutable concept
b="World"
b[3]=a
print(b)
#We will get error because string is immutable

#Example-2 for immutable concept
a=(1,2,4,5)
print(a[3])
a[3]=7
print(a[3])
#We get error bcz tuple is immutable

The present index value we are thinking to change :  hello
New value of index :  bye
New updated list :  [1, 2, 3, 'bye', 6j]

TypeError: 'str' object does not support item assignment